astroid==2.4.2
autopep8==1.5.3
cycler==0.10.0
isort==4.3.21
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.2.2
mccabe==0.6.1
numpy==1.18.5
pycodestyle==2.6.0
pygame==1.9.6
pylint==2.5.3
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.4.1
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
wrapt==1.12.1
